/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 30%;
  height: 130px;
  background: url('../../../content/images/dashboard.png') no-repeat center top;
  background-size: contain;
}
